<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
       <groups>
         <run> 
              <include name="smoke">
              </include>
         </run>
       </groups>
    <classes>
      <class name="testNG.day3"/>
      <class name="testNG.day4"/>
      <class name="testNG.day1"/>
      <class name="testNG.day2"/>
    </classes>
  </test> 
</suite> 
